/* complete body */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}
/* whole header  */
header {
  background-color: blueviolet;
  padding-top: 42px;
  padding-left: 10%;
  padding-right: 10%;
}
/* navigation bar */
.nav {
  display: flex;
  justify-content: space-between;
}
/* navigation bar links */
.menu {
  display: none;
}
nav ul {
  list-style: none;
  display: flex;
}
nav a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 20px;
}
/* login button  */
.login {
  background-color: rgb(243, 61, 158);
  padding: 5px;
  width: 118px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.login img {
  max-width: 24px;
  max-height: 24px;
}
/* header part after nav */
.banner {
  display: flex;
  justify-content: space-between;
}
.banner-title {
  margin-top: 120px;
  margin-bottom: 180px;
}
.banner-title h1 {
  font-size: 64px;
  line-height: 80px;
}
/* football image */
.banner-football {
  width: 90px;
  height: 90px;
  z-index: 1;
  position: relative;
  bottom: 300px;
  left: 50px;
}
/* football image transition and transform effect */
.banner-image:hover .banner-football {
  transform: scale(1.5) translate(-200px, -80px);
  transition: 2s transform;
}
/* watch live button transition effect */
.watch-live {
  background-color: rgb(243, 61, 158);
  font-weight: 200;
  padding: 10px 20px;
}
.watch-live:hover {
  background-color: rgb(255, 9, 91);
  font-weight: 700;
  transition-duration: 1s;
}
/* "watch live" link */
.watch-live a {
  text-decoration: none;
  color: rgb(251, 253, 132);
}
/* player cards section */
.best-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-left: 10%;
  margin-right: 10%;
}
/* each player card  */
.player {
  background-color: rgba(137, 43, 226, 0.503);
  max-width: 350px;
  min-width: 180px;
  padding: 10px;
}
.player:hover {
  background-color: rgb(197, 6, 255);
}
/* player card image part  */
.player img {
  width: 100%;
}
/* player card text part  */
figcaption {
  text-align: center;
}
figcaption h2 {
  font-size: 28px;
}
/* country about */
.countries {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}
.countries article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
}

.countries section {
  width: 50%;
  text-align: justify;
  font-size: 1.2em;
}
.countries img {
  width: 80%;
  padding-left: 50px;
}
/* footer */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
/* footer logo positioning */
.footer-header {
  height: 110px;
}
/* the footer logo  */
.footer-header img {
  height: 100%;
}
/* social media icons */
.social-icons img {
  width: 32px;
  padding-bottom: 32px;
}
/* mobile responsive media query*/
@media screen and (max-width: 688px) {
  /* header image and text */
  .banner {
    flex-direction: column;
  }
  /* 1 player per row */
  .best-players {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-left: 7%;
    margin-right: 1%;
  }

  .player {
    max-width: 400px;
  }

  /* responsive navbar */
  .menu {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .nav-link-container:hover,
  .nav-link-container:active .nav-links {
    display: block;
    position: absolute;
  }
  .countries article {
    flex-direction: column;
  }
  .countries section {
    width: 90%;
  }
  /* no fancy football transition */
  .banner-football {
    display: none;
  }
}
/* tablet responsive media query */
@media screen and (min-width: 689px) and (max-width: 992px) {
  /* header image and text */
  .banner {
    flex-direction: column;
  }
  /* 2 per row */
  .best-players {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-left: 5%;
    margin-right: 5%;
  }
  /* navbar responsive */
  .menu {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .nav-link-container:hover .nav-links {
    display: block;
    position: absolute;
  }
  .countries article {
    flex-direction: column;
  }
  .countries section {
    width: 75%;
  }
  /* no football transition in mobile */
  .banner-football {
    display: none;
  }
}
